:root{
    --custom-background-color :  #0284C7 !important;
}


.bg-primary{
    background-color: var(--custom-background-color) !important;
}

.nav-link.active {
    background-color: var(--custom-background-color) !important;
}
